@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #3e3f5d;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  /* background-image: linear-gradient(to top right, #4ade80, #06b6d4); */
  background-color: black;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  font-size: 34px;
  font-weight: bold;
}
