body {
  color: #3e3f5d;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  font-size: 34px;
  font-weight: bold;
}

.sidebar-container {
  box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background-color: #fefae0;
  width: 500px;
  height: 600px;
  overflow: hidden;
}
